@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
 h1{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    
    
    
}

.batata{
    align-items: center;
    margin-left: 40px;
    
    
}


.annabelle{
    padding: 20px;
    box-shadow: 0px 0px 60px 0px #50505052;    
}

.loki{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
    
}

.jessie{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.coraline{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.lucifer{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.miranha{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.wanda{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.max{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.juliette{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.aurora{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.jason{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.orfa{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.geralda{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.malevola{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.jon{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}
.professor{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.alicia{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.woody2{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.harry{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}

.estranho{
    padding: 20px;
    box-shadow: 0px 10px 60px 0px #50505052;
}
